<!DOCTYPE html>

<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Rammetto One' rel='stylesheet'>
        <title>page 1</title>
    </head>
    <body>
        <nav>
            <div class="container">
                <img src="assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
                <div class="center"><button>STUDENT</button></div>
            </div>
            <div class="container">
                <img src="assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
                <div class="center"><button>STUDENT</button></div>
            </div>
            <div class="container">
                <img src="assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
                <div class="center"><button>STUDENT</button></div>
            </div>
            <div class="container">
                <img src="assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
                <div class="center"><button>STUDENT</button></div>
            </div>            
        </nav>
        <br><br><br>      

        <table>
            <legend>STUFF</legend>
            <br><br>
            <form>
                <fieldset>
                    <label for="text">Find Student</label>
                    <input name="text" id="text" type="text" >
                    <button type="submit" class="btnForm">SUBMIT</button>
                </fieldset>
            </form>
            <br>
            <br>
            <tbody>
                <tr class="a">
                    <td>STUDENT</td>
                    <td>GRADE</td>
                    <td>DELETE</td>                
                </tr>
                <tr class="b">
                    <td>Beast Boy</td>
                    <td>Behaved</td>
                    <td><button class="btnTable">Delete</button></td>

                </tr>
            </tbody>
        </table>


    </body>

</html>