<!DOCTYPE html>

<html>
    <head>
        
        <link href='https://fonts.googleapis.com/css?family=Rammetto One' rel='stylesheet'>
        <title>page 1</title>
    </head>
    <body>
        <app-nav-bar>
                    
        </app-nav-bar>
        <br><br><br>      

        <table>
            <legend>STUFF</legend>
            <br><br>
            <form>
                <fieldset>
                    <label for="text">Find Student</label>
                    <input name="text" id="text" type="text" >
                    <button type="submit" class="btnForm">SUBMIT</button>
                </fieldset>
            </form>
            <br>
            <br>
            <tbody>
                <tr class="a">
                    <td>STUDENT</td>
                    <td>GRADE</td>
                    <td>DELETE</td>                
                </tr>
                <tr class="b">
                    <td>Beast Boy</td>
                    <td>Behaved</td>
                    <td><button class="btnTable">Delete</button></td>

                </tr>
            </tbody>
        </table>


    </body>

</html>