<div class="container">
    <img src="../../../assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
    <div class="center"><button>STUDENT</button></div>
</div>
<div class="container">
    <img src="../../../assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
    <div class="center"><button>STUDENT</button></div>
</div>
<div class="container">
    <img src="../../../assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
    <div class="center"><button>STUDENT</button></div>
</div>
<div class="container">
    <img src="../../../assets/clipart2238855-fococlipping-standard.png"; width="200"; height="75">
    <div class="center"><button>STUDENT</button></div>
</div>  