<html>
    <div class="container">
        <img src="../../../assets/clipart2238855-fococlipping-standard.png" width="200" height="75">
        <div class="center"><button>STUDENTS</button></div>
    </div>
    <div class="container">
        <img src="../../../assets/clipart2238855-fococlipping-standard.png" width="200" height="75">
        <div class="center"><button>LOGIN</button></div>
    </div>
    <div class="container">
        <img src="../../../assets/clipart2238855-fococlipping-standard.png" width="200" height="75">
        <div class="center"><button>GRADES</button></div>
    </div>
    <div class="container">
        <img src="../../../assets/clipart2238855-fococlipping-standard.png" width="200" height="75">
        <div class="center"><button>CREATE</button></div>
    </div>  
</html>